<html>
	<head>
		<title>Add product</title>
	</head>
	<body>
		<h1>Add product</h1>	

		<%= form_for @product, :url => url_for(:controller => 'product', :action => 'addproduct') do |f| %>
			 <p>
		      <%= f.label :name%> <br />
		      <%= f.text_field :name %>
		     </p>
			 <p>
		      <%= f.label :price%> <br />
		      <%= f.number_field :price %>
		     </p>
		     <p>
		      <%= f.label :category%> <br />
		      <%= f.select :category_id, @categories %>
		     </p>
		     <p>
		      <%= f.label :description%> <br />
		      <%= f.text_area :description %>
		     </p>
		     <%= f.hidden_field :user_id, :value => session[:user_id] %>
		     <p> <%= f.submit %> </p>
		<% end %>
	</body>
</html>