<html>
	<head>
		
	</head>
	<body>
		<h1>All availible products</h1>

		<% @products.each do |pr| %>
  		<div class="product">
  			<p>Name: <%= pr.name %> </p>
  			<p>Price: <%= pr.price %> </p>
  			<p>Category: <%= pr.category.name %> </p>
  			<p>Description: <%= pr.description %> </p>

  			<% unless pr.bought %>

	  			<%= form_for @request, :url => url_for(:controller => 'product', :action => 'buy') do |f|  %>
	  				<%= f.hidden_field :user_id, :value => session[:user_id] %>
	  				<%= f.hidden_field :product_id, :value => pr.id %>
	  				<%= f.submit :buy %>
	  			<% end %>

  			<% end %>
  		</div>
    <% end %>
	</body>
</html>