<html>
	<head>
		
	</head>
	<body>
		<h1>Bought</h1>

		<% @products.each do |pr| %>
  		<div class="product">
  			<p>Name: <%= pr.name %> </p>
  			<p>Price: <%= pr.price %> </p>
  			<p>Category: <%= pr.category.name %> </p>
  			<p>Description: <%= pr.description %> </p>
  		</div>
    <% end %>
	</body>
</html>