<html>
  <head>
    <style> 
      .product:nth-child(odd){
        background: #12A35A;
      }
      .product{
        background: #15B31A;
      }
      
    </style>
  </head>
  <body>
    <a href="/products/all">All</a>
    <a href="/products/bought">Bought</a>
    <a href="/logout">Logout</a>
    <h1>Home</h1>
    <h2>My Products</h2>
    <h3>User id: <%= session[:user_id] %> </h3>
    <% @products.each do |pr| %>
  		<div class="product">
  			<p>Name: <%= pr.name %> </p>
  			<p>Price: <%= pr.price %> </p>
  			<p>Category: <%=  pr.category.name %> </p>
  			<p>Description: <%= pr.description %> </p>
  		</div>
    <% end %>
    
    <a href="/products/add">Add product</a>

  </body>
</html>
