<html>
  <head></head>
  <body>
    <h1>Login</h1>
    <%= form_for @user, :url => url_for(:controller => 'user', :action => 'validate') do |f| %>
      <p>
      <%= f.label :email%> <br />
      <%= f.email_field :email %>
      </p>
      <p>
      <%= f.label :password%> <br />
      <%= f.password_field :password %>
      </p>

      <%= f.submit %>
    <% end %>
  </body>
</html>
