<html>
  <head></head>
  <body>
    <h1>Register</h1>
    <%= form_for @user, :url => url_for(:controller => 'user', :action => 'create') do |f| %>
      <p>
      <%= f.label :email%> <br />
      <%= f.email_field :email %>
      </p>
      <p>
      <%= f.label :password%> <br />
      <%= f.password_field :password %>
      </p>
      <p>
      <%= f.label :phone%> <br />
      <%= f.text_field :phone %>
      </p>
      <p>
      <%= f.label :fullname%> <br />
      <%= f.text_field :fullname %>
      </p>
      <%= f.submit %>
    <% end %>


  </body>
</html>
